<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<div class="navbar">
		<div class="navbar-case">
      <a class="drip" href="/">
			   <div class="drip-case"></div>
      </a>
      <div class="nav-case">
        <div class="nav">
          <a class="download" href="https://itunes.apple.com/us/app/drip/id1309335824?ls=1&mt=8" target="_blank">
            Download on iOS
          </a>
        </div>
        <div class="nav">
			  	<a class="investor" href="/deck.pdf" target="_blank">
			  		Investor Deck
			  	</a>
			  </div>
        <div class="nav">
			  	<a class="demo" href="/demo">
			  		Demo Video
			  	</a>
			  </div>
			  <div class="nav">
			  	<a class="testflight" href="/contact">
					Contact Us
				</a>
			  </div>
        <!-- <div class="nav">
			  	<a class="testflight" href="/update">
					Update Today
				  </a>
			  </div> -->
		    </div>
		</div>
	</div>

  <div class="words">
		<div class="demoyea">
        <h4>Watch a recent demo video.</h4>
        <iframe width="1000" height="620" src="https://www.youtube.com/embed/9nQsZve2XFA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</body>
