<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<div class="navbar">
		<div class="navbar-case">
			<div class="drip-case">
				<div class="drip">drip</div>
			</div>
            <div class="nav-case">
			  <div class="nav">
			  	<a class="investor" href="https://cloudspace.idrsolutions.com:8181/HTML_Page_Extraction/output/74a5a02c-c710-43ca-bd4c-fd8a0e500286/Drip_PitchDeck_2/index.html?page=1" target="_blank">
			  		Investor Deck
			  	</a>
			  </div>
        <div class="nav">
			  	<a class="demo" href="/demo">
			  		Demo Video
			  	</a>
			  </div>
			  <div class="nav">
			  	<a class="testflight" href="https://ingridzippe.typeform.com/to/GC58HL" target="_blank">
					TestFlight
				</a>
			  </div>
			  <div class="nav">
			  	<a class="testflight" href="/contact">
					Contact Us
				</a>
			  </div>
              <div class="nav">
			  	<a class="testflight" href="/update">
					Update Today
				</a>
			  </div>
		    </div>
		</div>
	</div>

  <div class="words">
		<div class="demoyea">
        <h4>Watch a recent demo video.</h4>
        <iframe width="1000" height="620" src="https://www.youtube.com/embed/9nQsZve2XFA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</body>
