<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<div class="overlay">
	<div class="words">
		<h1>Ventful</h1>
		<h2>Bored? Lonely? Find cool things to do.</h2>
		<h3>Send your email to ingrid_zippe@brown.edu to be invited to TestFlight.</h3>
    </div>
	</div>
</body>
