<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<div class="navbar">
		<div class="navbar-case">
			<div class="drip-case">
				<div class="drip">drip</div>
			</div>
			<div class="nav-case">
			  <div class="nav">
			  	<a class="investor" href="/deck.pdf" target="_blank">
			  		Investor Deck
			  	</a>
			  </div>
			  <div class="nav">
			  	<a class="testflight" href="https://ingridzippe.typeform.com/to/GC58HL" target="_blank">
					TestFlight
				</a>
			  </div>
			  <div class="nav">
			  	<a class="testflight" href="/contact">
					Contact Us
				</a>
			  </div>
              <div class="nav">
			  	<a class="testflight" href="/update">
					Update Today
				</a>
			  </div>
		    </div>
		</div>
	</div>
	<div class="words">
		<div class="phone"></div>
		<div class="text">
			<h2>Bored? Lonely? Find cool things to do.</h2>
			<h3 class="testflight">
				<a class="testflight" href="https://ingridzippe.typeform.com/to/GC58HL" target="_blank">
					Get on TestFlight.
				</a>
			</h3>
<!-- 			<h3>Send your email to ingrid_zippe@brown.edu to be invited to TestFlight.</h3> -->
	    </div>
    </div>
</body>
